body {
  background-image: url(https://cdn.jsdelivr.net/gh/estds/sr2021_landing/assets/img/nanjing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.default:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .6;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.credit-label {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, .5);
  padding: 3px 6px;
  font-size: 12px;
  max-width: 100%;
  z-index: 9;
}
